# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# VSCODE
.vscode

#MAC
.DS_Store

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
